@model PhotosessionDomain.Model.Photosession

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Photosession</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotosessionLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotosessionLocation.CityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotosessionStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotosessionStatus.StatusName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotosessionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotosessionType.TypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-controller="Photosessions" asp-action="Index" asp-route-id="@Model?.PhotosessionTypeId">Back to List </a>
</div>
